@media(max-width:766px){
  .navbar-header{
    width:100%;
    display:flex;
    justify-content:center;
  }

}
@media(min-width:767px){
  .navbar-right{
    width:60%;
    padding-bottom:-10px;
  }
  .slider-picker{
    margin-top:10px;
    cursor: pointer;
  }
}

@font-face {
  font-family: dot_matrix;
  src: url(./fonts/dot_matrix/DOTMATRI.TTF);
}

body {
  background-color: #F1F1F1;
}

.brand {
  font-family: 'dot_matrix';
  font-size: 46px;
  color: #808080;
}

.header-content{
  margin-bottom:20px;
  margin-top:20px;
}

.matrix-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80vw;
  margin-left: 10%;
  height: 40vw;
  margin-bottom:20px;
}
.popup {
  position: absolute;
  top:15%;
  background-color: black;
  z-index: 100;
  box-shadow:0 0 10px white;
  border-radius:5px;
}

.circle {
  width: 1.56%;
  border-radius: 50%;
  border: .5px solid #606060;
  cursor: pointer;
}

.palette-container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-shrink: 0;
  margin-top: 25px;
  padding-right: 10px;
  height:100%;
}

.swatch-circle-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  flex-grow:1;
}

.swatch-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 5px;
}

.slider{
  width:100%;
}

.shadow {
  box-shadow: 0px 0px 20px #000000;
  z-index: 2;
}
.circle-shadow {
  box-shadow: 0px 0px 1px #5A5A5A;
  z-index: 2;
}

.grey {
  background-color: #040707;
}


.screen {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 5;
}

.loginModal {
  position: absolute;
  height: 10vh;
  width: 25vw;
  background-color: rgba(255, 255, 255, 1);
  /*box-shadow: 1px 1px 10px #000000;*/
  z-index: 6;
}

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.codeInput {
  height: 10vh;
  font-size: 46px;
  text-align: center;
  font-family: dot_matrix;
}
.footer{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding:10px;
  min-height:200px;
}

.footer-container{
  width:80%;
  height:100%;
  margin-left:10%;
}

.userNum{
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  color: #979797;
  margin-bottom:20px;
}

.dropDownToggle{
  border-radius:2px;
  font-size: 1em;
  padding:2px;
  box-shadow: 0 0 2px rgb(200,200,200);
}

.dropDownToggle:hover{
  box-shadow: 0 0 2px white;
  cursor: pointer;
}

.thumbnails-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding:20px;
}

hr {
  border: none;
}

.thumbnail{
  /*padding:10px;*/
  margin:10px;
  transition: 1s;
  background: black;
}

.thumbnail:hover{
  transform: scale(2);
  z-index: 5;
}

.submit-btn{
  width:64px;
  height:32px;
}

.navbar-default {
  border: none;
}
